@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
    --color-brand-bg: #E5E5CB;
    --color-brand-cream: #D5CEA3;
    --color-brand-brown: #635454;
    --color-brand-dark: #3C2A21;
    --font-sans: "Josefin Sans", sans-serif;
}

@layer base {
    body {
        @apply bg-brand-bg/10;
        font-family: "Josefin Sans", sans-serif;
        min-height: 100vh;
    }
}